.background-vinyl-show {
  border-radius:       50%;
  height:              100vh;
  width:               100vh;
  background-position: center ;
  background-repeat:   no-repeat;
  background-size:     cover;
  border:              1px solid white;
  opacity:             0.2;
  margin-left:         -100px;
  margin-bottom:       20px;
  position:            fixed;
}

.content {
  margin-left: 50%;
  text-align:  right;
}

.vinyl-show {
  background-color: rgb(20, 20, 20);
}

.infos {
  color: white;
}

h1 {
  color: white;
}
.container {
  height: 100%;
}

repeat[n="0"] {
    display:block;
}

repeat[n="1"]:before {
   content: "★";
}

repeat[n="2"]:before {
   content: "★★";
}

repeat[n="3"]:before {
   content: "★★★";
}

repeat[n="4"]:before {
   content: "★★★★";
}

repeat[n="5"]:before {
   content: "★★★★★";
}

.table-info {
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.borderless th {
    border: none;
}

.youtube-player {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.booking-btn {
  width: 100%
}


@media (max-width: 550px) {
  /* For a screen < 550px, this CSS will be read */
  .links {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .booking-btn {
    width: 100%;
  }

}

.btn-review {
  width: 100%;
  vertical-align: center;
}

