.content-index {
  display: flex;
}

.cards-index {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  padding: 16px;
  justify-content: start;
  padding: 10px;
}

#map {
  z-index:4;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 999px) {
  .cards-index {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1000px) {
  .cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
