<div class="footer">
  <div class="footer-copyright ">
     <i class="fas fa-headphones-alt"></i> Techno Tools - Let your heart beat for music. <i class="fas fa-music"></i>
  </div>
  <div class="GDPR-links d-flex">
    <div> <a href="#">Conditions</a> </div>
    <div> <a href="#">Politique de confidentialité</a> </div>
    <div> <a href="#">Plan du site</a> </div>
    <div> <a href="#">Fonctionnement du site</a> </div>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
