<div>
  <div class="record">
    <%= image_tag "https://res.cloudinary.com/de8kltuyf/image/upload/v1581952923/Technotools/Beattles.jpg", class: 'record-image' %>
  </div>
  <div class="record_infos">
    <h3><%= vinyl.name %></h3>
    <h5><%= vinyl.artist.name %></h5>
  </div>
</div>
