<div class="container d-flex">
  <div class="record">
     <%= image_tag "https://res.cloudinary.com/de8kltuyf/image/upload/v1581952923/Technotools/Beattles.jpg", class: 'record-image' %>
  </div>
  <div class="record">
     <%= image_tag "https://res.cloudinary.com/de8kltuyf/image/upload/v1581952923/Technotools/Pink%20Floyd.jpg", class: 'record-image' %>
  </div>
  <div class="record">
     <%= image_tag "https://res.cloudinary.com/de8kltuyf/image/upload/v1581952923/Technotools/The%20dooors.jpg", class: 'record-image' %>
  </div>
</div>


