<div class="container records d-flex mb-5">

  <div>
    <div class="record">
      <%= image_tag "https://res.cloudinary.com/de8kltuyf/image/upload/v1581952923/Technotools/Beattles.jpg", class: 'record-image' %>
    </div>
    <div class="record_infos">
      <h3>The Beatles</h3>
      <h5>Abbey Road</h5>
    </div>
  </div>

  <div>
    <div class="record">
      <%= image_tag "https://res.cloudinary.com/de8kltuyf/image/upload/v1581952923/Technotools/Pink%20Floyd.jpg", class: 'record-image' %>
    </div>
    <div class="record_infos">
      <h3>The Pink Floyd </h3>
      <h5>Dark Side of the Moon</h5>
    </div>
  </div>

  <div>
    <div class="record">
      <%= image_tag "https://res.cloudinary.com/de8kltuyf/image/upload/v1581952923/Technotools/The%20dooors.jpg", class: 'record-image' %>
    </div>
    <div class="record_infos">
      <h3>The Doors</h3>
      <h5>L.A Woman</h5>
    </div>
  </div>
</div>


