<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class='record'>
    <%= cl_image_tag  'https://res.cloudinary.com/de8kltuyf/image/upload/v1581952923/Technotools/The%20dooors.jpg', class: 'record-image' %>
</div>

<div class='record'>
<%= cl_image_tag  'https://res.cloudinary.com/de8kltuyf/image/upload/v1581952923/Technotools/Beattles.jpg', class: 'record-image' %>
</div>

<div class='record'>
<%= cl_image_tag  'https://res.cloudinary.com/de8kltuyf/image/upload/v1581952923/Technotools/Pink%20floyd.jpg', class: 'record-image' %>
</div>



