.record-image {
  height: 200px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  z-index: 2;
}

.record-image:hover {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.record {
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  margin: 19px auto;
  width: 262px; height: 262px;
  border-radius: 50%;
  background:
    linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0,
    linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 60%) no-repeat 0 100%,
    repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
  background-size: 50% 100%, 100% 50%, 100% 100%;
}

.record_infos {
  text-align: center;
}
